.xgplayer-skin-default {
  .xgplayer-imageindex {
    display: block;
    position: absolute;
    height: 60px;
    left: 12px;
    right: 12px;
    outline: none;
    top: -75px;
    z-index: 35;
    overflow: hidden;
    ul {
      width: 100%;
      height: 80px;
      background: rgba(0, 0, 0, .37);
      overflow-x: scroll;
      display: flex;
      flex-wrap:nowrap;
      justify-content:flex-start;
      li {
        margin-left: 5px;
        margin-top: 8px;
        div {
          width: 80px;
          height: 45px;
          background-size: contain;
          cursor: pointer;
        }

        &.selected {
          margin-top: 4px;
          div {
            border: 3px solid #fff;
            border-radius: 5px;
          }
        }
      }
    }
  }
}

.xgplayer-skin-default.xgplayer-volume-active {
  .xgplayer-imageindex {
    z-index: 15;
  }
}
.xgplayer-skin-default.xgplayer-displaymode-active {
  .xgplayer-imageindex {
    z-index: 15;
  }
}
.xgplayer-skin-default.xgplayer-definition-active {
  .xgplayer-imageindex {
    z-index: 15;
  }
}
.xgplayer-skin-default.xgplayer-texttrack-active {
  .xgplayer-imageindex {
    z-index: 15;
  }
}
.xgplayer-skin-default.xgplayer-playbackrate-active {
  .xgplayer-imageindex {
    z-index: 15;
  }
}
