.xgplayer-skin-default {
  .xgplayer-displaymode {
    order: 5;
    width: 60px;
    height: 42px;
    z-index: 18;
    position: relative;
    outline: none;
    display: none;
    cursor: default;
    margin-left: 10px;
    margin-top: -7px;
    ul {
      display: none;
      list-style: none;
      width: 78px;
      background: $definitionUlBgColor;
      border-radius: 1px;
      position: absolute;
      bottom: 42px;
      left: 0;
      text-align: center;
      white-space: nowrap;
      margin-left: -10px;
      z-index: 26;
      cursor: pointer;
      li {
        opacity: 0.7;
        font-family: PingFangSC-Regular;
        font-size: 11px;
        color: $definitionLiColor;
        padding: 3px 13px;
        svg path {
          fill:white;
          fill-opacity:0;
          stroke-width:2;
          stroke: #ddd;
          &.curr, &:hover {
            stroke: #3896E2;
          }
        }
      }
    }
    .name {
      text-align: center;
      font-family: PingFangSC-Regular;
      font-size: 13px;
      line-height: 20px;
      height: 20px;
      cursor: pointer;
      color: $definitionNameColor;
      position: absolute;
      bottom: 5px;
      width: 60px;
      height: 20px;
      line-height: 20px;
      background: $definitionNameBgColor;
      border-radius: 10px;
      display:inline-block;
      vertical-align:middle;
    }
  }
}

.xgplayer-skin-default.xgplayer-displaymode-active {
  .xgplayer-displaymode {
    ul {
      display: block;
    }
  }
}

.xgplayer-skin-default.xgplayer-is-displaymode {
  .xgplayer-displaymode {
    display: block;
  }
}
