.xgplayer-skin-default {
  .xgplayer-version {
    outline: none;
    width: 300px;
    height: 80px;
    display: none;
    position: absolute;
    z-index: 1000;
    background: #000000;
    opacity: .7;
    left: 50%;
    top: 50%;
    margin-top: -40px;
    margin-left: -150px;
    border-radius: 15px;

    svg {
      position: absolute;
      top: 0px;
      right: 0px;
      cursor: pointer;

      path {
        fill:white;
        fill-opacity:0;
        stroke-width:2;
        stroke: #ffffff;
      }
    }


    p {
      text-align: left;
      line-height: 100%;
      color: #fff;
      font-size: 14px;
      margin-top: 35px;
      padding-left: 20px;

      span {
        color: #ff8800;
      }
    }
  }
}

.xgplayer-skin-default.xgplayer-skin-version {
  .xgplayer-version {
    display: block;
  }
}
